<html>
<head>

</head>

<body>
<h2 align="center">Home Page</h2>
<table align="center">

    <tr>
        <td><a href="hm" >Submit Page</a></td>
<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
<td></td><td></td><td></td><td></td><td></td><td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
        <td ><a href="update"> Verified page </a> </td>
    </tr>
</table>
</body>
</html>


INSERT INTO public.after_lockdown(
	s_no, entity, total_count, entity_sections, organisation_name, doctor_name, recommended_coding_system, recommended_code, recommended_token, is_recommended, coding_system, code, corrected_code_corrected_token, applicable_sections, is_submit, is_verify, flag_for_discussion)
	VALUES (1,'fever', 21, 'Primary Diagnosis', 'Brookefield Hospital, Osmania Hospital', 'Dr Makkar, Dr Soumik, Dr Anuj', 'SNOMED', 'AAAA', 1000, True, 'SNOMED', 53741008, 'CAD', 'SNOMED', false, false, true);