{% extends 'base.html' %}
{% load static %}

<html>
<head>
    {% block content %}
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<br><br><br><br><br>
<div class="container">
    <div class="col col-lg-4">
        <h3 align="center">Login</h3>
<form method="post" action="{% url 'validate' %}">
    {% csrf_token %}

<div class="form-group" style="font-style: oblique">
    <label>User Name</label>
    <input type="text" name="username" class="form-control" placeholder="Enter UserName" required autocomplete="off">
</div>
<div class="form-group"style="font-style: oblique">
     <label>Password</label>
     <input type="password" name="password" class="form-control" required placeholder="Enter Password">
</div >
<div class="col-md-12 text-center ">
    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
</div>
    </form>
</div>
</div>
<br>

<script>
    {% if messages %}

{% for x in messages %}
        alert('{{ x}}');

{% endfor %}
{% endif %}

</script>
</body>
{% endblock %}
</html>